<a href="https://colab.research.google.com/github/aditiR2508/Basics-of-Python/blob/main/expt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aditi Rathore
## 25070123006
## Batch 2025-29
## EDA using Python
## Expt-1
## Python Basics

In [4]:
# First Python program
print("I am aditi :)")

I am aditi :)

In [2]:
print("jack of all trades but master of none")

jack of all trades but master of none

In [1]:
a = "hi"
print(a)

hi

In [5]:
print("The Metamorphosis"); print("Franz Kafka"); print("Russian Writer")

The Metamorphosis
Franz Kafka
Russian Writer

In [9]:
print("I am aditi.", end=" ")
print("My bday is closeeeeee")

I am aditi. My bday is closeeeeee

In [11]:
#NUMBERS
a=6769
print(a)
print(1729)

6769
1729

In [12]:
#VARIABLES
x=89
y="hehhehhehheheh"
print(x)
print(y)

89
hehhehhehheheh

In [13]:
#case sensitive
a=6334
A=5412
print(a)
print(A)

6334
5412

In [14]:
#Many values to multiple variables
p, q, r= "haha", "hehe", "hihi"

print(p)
print(q)
print(r)

haha
hehe
hihi

In [15]:
#basic arithmetic operations
a=7
b=25
print("Addition=", a+b); print("Subtraction=", a-b); print("Multiplication=", a*b); print("Division=", a/b)

Addition= 32
Subtraction= -18
Multiplication= 175
Division= 0.28

In [30]:
#Understanding Data Types
x=10
y=7.29
z="duck"
minion= True #do not write small t or it shows error
p=5+7j

print(type(x))
print(type(y))
print(type(z))
print(type(minion))
print(type(p))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [20]:
name= input("Enter your name: ") #taking user input
age= int(input("Enter age: "))

print("eylo", name)
print("my age is", age)

Enter your name: aditi
Enter age: 17
eylo aditi
my age is 17

In [21]:
#Simple Calculator
x= int(input("Enter first no.: "))
y= int(input("Enter second no.: "))
print(x)
print(y)

print("Addition=", x+y)
print("Subtraction=", x-y)
print("Multiplication=", x*y)
print("Division=",x/y)

Enter first no.: 5
Enter second no.: 10
5
10
Addition= 15
Subtraction= -5
Multiplication= 50
Division= 0.5

In [23]:
#subject marks
print("marks of the 5 subjects: ")
a= int(input(" "))
b= int(input(" "))
c= int(input(" "))
d= int(input(" "))
e= int(input(" "))

f= a+b+c+d+e
print("Total marks=", f)
print("avg=", f/5)

marks of the 5 subjects:
 34
 45
 56
 52
 49
Total marks= 236
avg= 47.2

In [31]:
#area of rectangle and circle
l= int(input("Enter length: "))
b= int(input("Enter breadth: "))
r= float(input("Enter radius: "))
pi=3.14
print("area of rectangle=", l*b)
print("area of circle=", pi*r*r)

Enter length: 10
Enter breadth: 20
Enter radius: 2
area of rectangle= 200
area of circle= 12.56

In [25]:
#double stars-->exponent
a=3*3
b=3**3

print(a)
print(b)

9
27

In [27]:
#tuple joining or appending
print((3, 4, 5)+ (6, 7, 8))

(3, 4, 5, 6, 7, 8)